<% provide(:title, "FULL STOP") %>
<%= render 'layouts/navbar' %>
<div id="fullstop" class="casestudy">
    <div id="headline">
        <h1 class="fittext">FULL STOP</h1>
        <h3>BRANDING DESIGN —</h3>
    </div>
    <div class="container info">
        <p>Designed for and by Gen Z, FULL STOP is a speculative women's fashion brand examining social and institutional issues facing the contemporary United States.
         FULL STOP contextualizes fashion as both art and political activism, targeting Gen Z as the arbiters of positive systemic change. Informed by issues exposed in particular
          by the turbulence of 2020, FULL STOP is a cohesive branding effort, but first and foremost, a political art project.</p>
    </div>
    <div class="content">
        <div class="pb-5 text-center">
                <div class="pb-5 text-center">
                <h2>LOOKBOOK</h2>
                <p>click to the right and left of the pages to navigate</p>
                </div>
                <div class="wrapper">
                <div class="aspect">
                    <div class="aspect-inner">
                    <div id="flipbook" class="flipbook">
                    <div class="hard"><%= image_tag("work/fsf/lookbook/page1.png", alt: "rachie") %></div>
                    <div class="hard"><%= image_tag("work/fsf/lookbook/page2.png", alt: "rachie") %></div>
                    <div class="hard"><%= image_tag("work/fsf/lookbook/page3.png", alt: "rachie") %></div>
                    <div class="hard"><%= image_tag("work/fsf/lookbook/page4.png", alt: "rachie") %></div>
                    <div class="hard"><%= image_tag("work/fsf/lookbook/page5.png", alt: "rachie") %></div>
                    <div class="hard"><%= image_tag("work/fsf/lookbook/page6.png", alt: "rachie") %></div>
                    <div class="hard"><%= image_tag("work/fsf/lookbook/page7.png", alt: "rachie") %></div>
                    <div class="hard"><%= image_tag("work/fsf/lookbook/page8.png", alt: "rachie") %></div>
                    </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="container-lg text-center py-5 mb-5">
            <h2>CASE STUDY</h2>
            <div class="reveal">
                <div class="slides">
                        <section><%= image_tag("work/fsf/casestudy/slide 1.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 2.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 3.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 4.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 5.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 6.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 7.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 8.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 9.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 10.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 11.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 12.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 13.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 14.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 15.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 16.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 17.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 18.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 19.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 20.png", alt: "rachie", class: "img-fluid") %></section>
                        <section><%= image_tag("work/fsf/casestudy/slide 21.png", alt: "rachie", class: "img-fluid") %></section>
                </div>
            </div>
        </div>
    </div>
    <%= render 'layouts/backtoportfolio' %>
</div>
<script>
    document.addEventListener("turbolinks:load", jQuery(".fittext").fitText())

    var lookbook = document.getElementById('flipbook');
        window.addEventListener('resize', function (e) {
        lookbook.style.width = '';
        lookbook.style.height = '';
        $(lookbook).turn('size', lookbook.clientWidth, lookbook.clientHeight);
    });
    $(lookbook).turn({
        autoCenter: true
    });

</script>
<script>
    Reveal.initialize({
        backgroundTransition: 'slide',
        touch: true,
        embedded: true
    });
</script>