<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | RACHEL WANG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'jqueryfittext' %>

    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>

    <%= render 'layouts/shim' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
</head>
  <body>
    <%= yield %>
  </body>
  <script>
      function addDarkmodeWidget() {
        new Darkmode().showWidget();
      }
      document.addEventListener("turbolinks:load", addDarkmodeWidget)
</script>
</html>