<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | RACHEL WANG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/shim' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
</head>
  <body data-turbolinks="false">
    <%= yield %>
  </body>
</html>